<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div id="header">
        <h1>Music Store</h1>
    </div>
    <div id="main">
        
        <p>@RenderBody()</p>
        
    </div>
    
   
    <div id="footer">
        <p>infoMusicStore@gmail.com</p>
    </div>
</body>
</html>
